* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #207394, #217e85, #197919);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.form-section {
    flex: 1;
    padding-right: 20px;
}

.image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section img {
    max-width: 100%;
    max-height: 300px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px 20px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    color: white;
    font-size: 1rem;
    transition: 0.3s ease-in-out;
}

.input-group input:focus {
    border-bottom: 2px solid #67D1FB;
}

.input-group label {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    pointer-events: none;
    transition: 0.3s ease-in-out;
    font-size: 0.9rem;
    opacity: 0.7;
}

.input-group input:focus ~ label,
.input-group input:not(:placeholder-shown) ~ label {
    top: -10px;
    font-size: 0.75rem;
    opacity: 1;
    color: #67D1FB;
}

button {
    background: #126806;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    transition: 0.3s ease;
}

button:hover {
    background: #0a7edd;
}

#resultado {
    margin-top: 20px;
    font-size: 1.25rem;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#resultado.show {
    opacity: 1;
}